section.blog
  .blog-header
    h2.global-heading.global-heading--big.blog-heading Our Regular Updated Blog Posts
    p.global-text.blog-additional tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque. 
  .blog-feature
    +blogItem('/assets/images/blog-1.png',"SEO tips and tricks for new","Twit are excet Frond, rnatie boy grub its tell gone to pot MI Mrs nut butts horse play blow")
    +blogItem('/assets/images/blog-2.png',"A Guide to Google SEO","Twit are excet Frond, rnatie boy grub its tell gone to pot MI Mrs nut butts horse play blow")
    +blogItem('/assets/images/blog-3.png',"Best Practices SEO Content","Twit are excet Frond, rnatie boy grub its tell gone to pot MI Mrs nut butts horse play blow") 