section.brand
 .brand-logo
   img(src='../../assets/images/logo-brand.png' alt='description')
 .brand-logo
   img(src='../../assets/images/logo-brand.png' alt='description')
 .brand-logo
   img(src='../../assets/images/logo-brand.png' alt='description')
 .brand-logo
   img(src='../../assets/images/logo-brand.png' alt='description')
 .brand-logo
   img(src='../../assets/images/logo-brand.png' alt='description')
   
   