header.header
  .header__nav
    img(src='/assets/images/logo.png' alt='logo')
    include ../layout/menu
    .auth
      a.btn.btn--secondary.auth--login(href='#') login
      a.btn.btn--primary.auth--signup(href='#') Signup
      p.toggle-nav Menu
    
  .header__main 
    .header__content
      h3.global-caption AWARD WINNING COMPANY
      h1.global-heading.global-heading--large.header-heading We Are The Best Digital Marketing
      p.global-text.header-desc You need to get positive results when you spend hard earned revenue and time on any marketing effort. Great returns on marketing and promotions.
      .header__functionality
          a.btn.btn--primary.content-button(href='#') Get Started
          a.watch-video(href='#')
            .watch-icon
              img(src='../../assets/images/play.png' alt='play icon')
            span Watch Video   
    .header__image
      img(src='../../assets/images/Card & Content.png' alt='Header main image')
 
