section.mission
  .mission-container
    .mission-content
      span.global-caption OUR MISSION &amp; GOAL
      h2.global-heading.global-heading--big.mission-heading Realize Your Business Goals For Profit
      p.global-text Nunc venenalis Iorem sed risus trlstque sent per. Duls porta,  rutruni tempus, lectus risus imDerdiet tellus, sed faucibus sum ipsum ncn neque. Curubilu r eleirend, erut ullamcorper porta. eras turpis. 
      a.btn.btn--primary(href='#') Get in touch
    .mission-image
      img(src='../../assets/images/mission.png' alt='mission image')