section.testimonials 
  .testimonials-img
    img(src='../../assets/images/testmonials-img.png' alt='testimonials feedback')
  .testimonials-content
    span.global-caption.testimonials-caption TESTIMONIALS
    h2.global-heading.global-heading--big.testimonials-heading Client’s Feedback
    p.global-text.testimonials-desc Why I say okl chap that is. sprffing aff his rut car blimey valmor gooxo blaka krcus up bobby shed a-50 William cock Richard. Bloke fanny around cheseci
    .testimonials-count
      .testimonials-checked
        img(src='../../assets/images/Group 30.png' alt='checked icon')
      span.testimonials-number 450+
      span Client’s Feedback 
    a.btn.btn--primary.testimonials-button(href='#') Get in touch
