.feature {
  max-width: 125rem;
  padding-bottom: var(--section-spacing);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 8.7rem;
  &-image {
    max-width: 60rem;
    width: 100%;
  }

  &-heading {
    max-width: 42.2rem;
  }
  &-caption {
    max-width: 50rem;
  }
  &-caption,
  &-heading {
    margin-bottom: 2.5rem;
  }
  &-desc {
    margin: 3.7rem 0;
  }
  &-button {
    border-radius: 4.1rem;
    font-size: 1.4rem;
    padding: 1.8rem 3rem;
    text-transform: capitalize;
  }
  @media screen and (max-width: 1023.98px) {
    gap: 3rem;

    flex-direction: column;
    &-image {
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    &-text {
      text-align: center;
    }
    &-heading {
      margin: 0 auto;
      margin-block: 2rem;
    }
    &-desc {
      max-width: 70rem;
    }
  }
}
